pkgbase = moonbit
	pkgdesc = A system cleaner for Linux, with a TUI and a CLI
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/Nomadcxx/moonbit
	install = moonbit.install
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go>=1.24
	depends = systemd
	optdepends = docker: Docker cleanup support
	source = moonbit-1.7.0.tar.gz::https://github.com/Nomadcxx/moonbit/archive/v1.7.0.tar.gz
	sha256sums = 6e917cb4a940be240d8ab1e34a47b7f88e0c47697aef575dea8080a8f2fc3c25

pkgname = moonbit
