pkgbase = moonbit
	pkgdesc = A system cleaner for Linux, with a TUI and a CLI
	pkgver = 1.7.0
	pkgrel = 1
	url = https://github.com/Nomadcxx/moonbit
	install = moonbit.install
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go>=1.24
	depends = systemd
	optdepends = docker: Docker cleanup support
	source = moonbit-1.7.0.tar.gz::https://github.com/Nomadcxx/moonbit/archive/v1.7.0.tar.gz
	sha256sums = 16a4434f09d63417bf83ab33b21f7ac77cc80d196d2130fcb99e3686e061bc52

pkgname = moonbit
